<p>not-register-usr-component works!</p>

Broj vikendica: {{numVikendice}} <br>
Broj vlasnika: {{numOwners}} <br>
Broj turista: {{numTourists}} <br>

<div style="margin: 12px 0; display: flex; gap: 12px;">
  <button routerLink="/login">User login</button>
  <button routerLink="/register">Register</button>
  <button routerLink="/adminLogin">Admin login</button>
</div>

<hr>
<div style="margin: 12px 0; display:flex; gap:12px; align-items: end;">
  <div>
    <label>Naziv</label>
    <input type="text" [(ngModel)]="searchNaziv" (input)="applyFilter()" placeholder="Pretraga po nazivu">
  </div>
  <div>
    <label>Mesto</label>
    <input type="text" [(ngModel)]="searchMesto" (input)="applyFilter()" placeholder="Pretraga po mestu">
  </div>
  <button (click)="clearFilter()">Očisti</button>
  <span style="margin-left:auto;">Pronađeno: {{filteredVikendice.length}}</span>
  </div>

<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th (click)="sort('naziv')">
        Naziv
        @if (sortColumn === 'naziv') {
          <span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
        }
      </th>
      <th (click)="sort('mesto')">
        Mesto
        @if (sortColumn === 'mesto') {
          <span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
        }
      </th>
    </tr>
  </thead>

  <tbody>
    @for (v of filteredVikendice; track v.idVikendice) {
      <tr>
        <td>{{ v.naziv }}</td>
        <td>{{ v.mesto }}</td>
      </tr>
    }
  </tbody>
</table>


