<div class="layout">
  <aside class="sidebar">
    <h2 class="logo">Vlasnik</h2>

    <nav>
      <ul>
        <li><a routerLink="/owner/profile" routerLinkActive="active">Profil</a></li>
        <li><a routerLink="/owner/vikendice" routerLinkActive="active">Vikendice</a></li>
        <li><a routerLink="/owner/reservations" routerLinkActive="active">Rezervacije</a></li>
        <li><a routerLink="/owner/statistics" routerLinkActive="active">Statistika</a></li>
      </ul>
    </nav>

    <button class="sidebar-btn" (click)="logout()">Odjavi se</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>